In [16]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [11]:
# Load Training data
crops_df = pd.read_csv('Crop_recommendation.csv')
crops_df

,nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice
...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee

In [19]:
# K Neighbour Clustering

# Using the features, define what type of crop it is
FEATURES = ['nitrogen', 'phosphorus', 'potassium', 'temperature', 'humidity','ph']
x = crops_df[FEATURES].copy()
y = crops_df['label']

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x,y)

KNeighborsClassifier(n_neighbors=3)

In [22]:
# Load test data
test_data = pd.read_csv('Test_data.csv')
test_data

,nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,19,55,20,27.433294,87.805077,7.185301,54.733676,mungbean
2,41,74,18,28.757518,61.027015,6.599147,73.376868,blackgram
3,39,65,23,25.434598,69.126134,7.685959,41.026829,lentil
4,40,49,47,42.933686,91.175675,6.501521,246.361327,papaya

In [23]:
# The prediction column shows the prediction of the K Neighbor algo
test_data['prediction'] = knn.predict(test_data[FEATURES])

test_data

,nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label,prediction
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,rice
1,19,55,20,27.433294,87.805077,7.185301,54.733676,mungbean,mungbean
2,41,74,18,28.757518,61.027015,6.599147,73.376868,blackgram,blackgram
3,39,65,23,25.434598,69.126134,7.685959,41.026829,lentil,lentil
4,40,49,47,42.933686,91.175675,6.501521,246.361327,papaya,papaya